.hero-top{
    position: absolute;
    top:0;
    background-color: transparent;
}

.hero-top .caption{
    background-color: rgba(127,127,127,0.5);
    margin-top: 100px;
    max-width: 550px;
    padding: 10px 20px;
}

.hero-top .caption h1, .hero-top .caption .lead {
    color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}


.navbar-inverse {
    color: #fff;
    bottom: auto;
    position: absolute;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.montserrat{
    font-family: 'Montserrat Alternates', sans-serif;
}

.hammersmith{
    font-family: 'Hammersmith One', sans-serif;
}

.megrim {
    font-family: 'Megrim', cursive;
}

.textme {
    font-family: 'Text Me One', sans-serif;    
}

.monkey {
    font-family: 'Happy Monkey', cursive;    
}

.audiowide {
    font-family: 'Audiowide', cursive;
}

.numans {
    font-family: 'Numans', sans-serif;    
}

.stint {
    font-family: 'Stint Ultra Expanded', cursive;    
}
