.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(images/satellite.jpg) no-repeat center top;
    opacity: .4;
}

.masthead {
    padding: 20px 0 50px;
    margin-bottom: 0;
    /*color: #fff;*/
}

.navbar-inverse {
    color: #fff;
}